.form-login {
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C7E4B5;*/
    height: 200px;
    width: 100%; 
}
.login-main {
    text-align: center;
    width: 50%;
    background: #fff;
    margin-left: 25%;
    border-radius: 10px;
    /* overflow: hidden; */
    
}
.h2-signin {
    color: black;
}
.input-username {
    background-color: #FFFFFF;
    /* text-align: center; */
    width: 70%;
    height: 10%;
    margin-bottom: 25px;
    margin-left: 18%;
}
.input-password {
    background-color: #FFFFFF;
    /* text-align: center; */
    width: 70%;
    height: 10%;
    margin-left: 18%;
}

.login-button {
    color: #3FB6E9;
    background-color: #FFFFFF;
    border-radius: 11px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    /* margin-left: 37%; */
}

hr {
    color: #ffffff;
    background-color: #ffffff;
}